@model eLogin.Models.License
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>License Manager</h1>
<p class="text-success">New license has been successfully imported.</p>

<br />
<p class="text-danger">@ViewBag.Error</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-valIdation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="CustomerName" class="control-label">
                    @Html.DisplayNameFor(m => m.CustomerName)
                    <input asp-for="CustomerName" class="form-control" />


                </label>
           
            </div>
            <div class="form-group">

                <label asp-for="LicenseType" class="control-label">
                    @Html.DisplayNameFor(m => m.LicenseType)
                    <input asp-for="LicenseType" class="form-control" />


                </label>
            </div>
            <div class="form-group" style="@(Model.LicenseType!="Perpetual" ? "display:block" : "display:none")">
             
                <label asp-for="ExpiryDate" class="control-label">
                    @Html.DisplayNameFor(m => m.ExpiryDate)
                    <input asp-for="ExpiryDate" class="form-control" />


                </label>
            </div>
            <div class="form-group">
              
                <label asp-for="MaxChannels" class="control-label">
                    @Html.DisplayNameFor(m => m.MaxChannels)
                    <input asp-for="MaxChannels" class="form-control" />


                </label>

            </div>
            <div class="form-group">

                <label asp-for="MaxUsers" class="control-label">
                    @Html.DisplayNameFor(m => m.MaxUsers)
                    <input asp-for="MaxUsers" class="form-control" />


                </label>

            </div>
            <div class="form-group">
                <label asp-for="CustomerRepository" class="control-label">
                    @Html.DisplayNameFor(m => m.CustomerRepository)
                    <input asp-for="CustomerRepository" class="form-control" />


                </label>
         
            </div>
        </form>
    </div>
</div>