@model IEnumerable<eLogin.Models.Property>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Properties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationRegex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationHint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEncrypted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHashed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUniqueIdentifier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidationRegex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidationHint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEncrypted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHashed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUniqueIdentifier)
            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
